:root{
    --primary: #943268;
    --primary-oscuro: #602144;
    --secondary: #543245;
    --animate-delay: 0.5s;
}


body{
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
}

.articles__cv{
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.articles__headers{
    margin: 0 4rem;
    font-size: 5rem;
}

/** CSS FOR ABOUT ME **/

.content__about{
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: calc( (100% - 5rem) * .3) auto;
    margin: 5rem 4rem;
}

.content__about::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: var(--primary-oscuro);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


.about__photo{
    position: relative;
    z-index: 1;
    border-radius: 50%;
    border: 10px solid black;
    max-width: 100%;
}

.content__data{
    align-items: center;
    background-color: var(--primary-oscuro);
    display: grid;
    font-size: 1.5rem;
    height: 100%;
    padding: 4rem;
}

.about__text{
    color: #ffffff;
    text-align: justify;
}

/** CSS FOR PROFESSIONAL EXPERIENCES **/

.content__experiences{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    margin-top: 2rem;
    max-width: 100%;
    gap: 5rem;
}

.experience__group{
    margin: 1rem 0;
}

.experience__date{
    font-size: 1rem;
}

.experience__occupation{
    font-size: 1rem;
    margin-top: 1rem;
}

.experience__tasks{
    margin-top: 1rem;
}

.list-group-item{
    /*margin-top: 1rem;*/
    font-size: 0.9rem;
    background-color: #fafbfe !important;
}

.description__task{
    margin-top: 1rem;
    text-align: justify;
}

/** CSS FOR EDUCATION **/
.content__education{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 10px;
    max-width: 70vw;
}

.education__group{
    align-items: center;
    border-bottom: 5px solid var(--primary-oscuro);
    display: grid;
    grid-template-columns: 20% auto;
    margin: 2rem 0;
    padding-bottom: 2rem;
}


.education__photo{
    margin-left: 3rem;
    max-width: 50%;
}

.education__institution{
    font-size: 2rem;
}

.education__school{
    font-size: 1.4rem;
}

.education__date{
    font-size: 1.2rem;
}

/** CSS FOR ADITIONAL SKILLS */
.content__skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    width: 80%;
    align-items: start;
}

.skill_card img{
    max-width: 100%;
    height: 20rem;
    object-fit: scale-down;
}
.list__card > .list-group-item{
    background-color: white !important;
}